<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="152abaf9-e8c9-4097-bb3d-358a9072a6c6" Publisher="CN=shivam.singh" Version="1.0.0.1" />
  <Properties>
    <DisplayName>RadialControl</DisplayName>
    <PublisherDisplayName>shivam.singh</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RadialControl.App">
      <VisualElements DisplayName="RadialControl" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="RadialControl" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>